<%- model_class = ServiceOrder -%>
<div class="page-header">
  <h3><b><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => 'ORDEN DE SERVICIO' %></b></h1>
</div>
<%= render :partial => 'form' %>
