<%- model_class = ServiceOrder -%>
<div class="page-header">
  <h3><B><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => 'ORDEN DE SERVICIO' %></B></h3>
</div>
<%= render :partial => 'form' %>
