<html>
    <head></head>
    <body>
        
        <h1>VETERINARIA MI MASCOTA</h1><br><br>
          <%= @client_name %>
        <% if (@data) %>
            <h3>@data.text</h3>
        <% end %>
        
    </body>
</html>