<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <h4>&nbsp;&nbsp;<img src="" alt="" class="img-rounded"><a href="/welcome/index"><span>Sistema de Veterinaria</span></a> &nbsp;<small>MI MASCOTA</small></h4>
    </div>
    <ul class="nav navbar-top-links navbar-right latizator">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Notificaciones">
                <i class="fa fa-envelope-o fa-fw"></i>
            </a>
        </li>
        <li class="dropdown">
            <% if user_signed_in? %>
            <%= link_to "<i class='fa fa-key fa-fw' title='Cambiar contraseña'></i>".html_safe, edit_user_registration_path, method: :get %>
            <% end %>
        </li>
        <li class="dropdown">
            <% if user_signed_in? %>
            <%= link_to "<i class='fa fa-sign-out fa-fw' title='Cerrar sesión'></i>".html_safe, destroy_user_session_path, method: :delete %>
            <% end %>
        </li>
    </ul>
</nav>