<%- model_class = Product -%>
<div class="row">&nbsp;</div>
<div class="page-header">
  <h3><b><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => 'PRODUCTOS' %></b></h3>
</div>
<%= render :partial => 'form' %>